# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Angular
.angular/
dist/
coverage/

# Environment / local configs
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db